textarea{
    width: 300px;
    height: 100px;
    background: bisque;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}