.feedback-container{
flex-direction: column;
display: flex;
gap: 40px;
width: 800px;
padding: 30px;
background: blueviolet;
}

.feedback-result-container{
    display: flex;
    gap: 30px;
    width: 100%;
}

.like-dislike-container{
    display: flex;
    gap: 20px;
}

.result{
    font-size: 30px;
    color: rgb(230, 168, 168);
    font-weight: bold;
}